body { 
 background-color: #ffcce6 
 
  
}

.bclass{ 
  color: #ff3399;
  font-size: 500%;
  font-family: 'Fjalla One', sans-serif;
}


.grid-container {
  display: grid;
  grid-template-columns: 100px auto;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 30px;
  font-size: 30px;
  text-align: center;
}

.adielleclass{
  color: #ff3300;
  font-size: 300%;
}

